.subscription-container {
  background: rgb(33, 33, 33);
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}

h1 {
  font-size: 24px;
  margin-top: 30px;
}

.plans {
  display: flex;
  justify-content: center;
}

.plan {
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selected {
  background-color: #444;
}

.selected-plan {
  margin-top: 20px;
}

button {
  margin: 10px;
  background-color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  cursor: not-allowed;
}

button:hover {
  background-color: darkblue;
  color: white;
}
